# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Executable files
*.out
*.o

# Logs
*.log

# Temporary files
*.tmp

# Dependency directories
vendor/

# IDE/editor settings
.vscode/
.idea/

# System files
.DS_Store

# Environment variables
.env

# Database data
db-data/
